body{
    /*background:#363636*/
}

#boot-splash {
}
#boot-splash .page-splash {
    background:#0066cc;
    border-radius:16px;
    padding:48px;
    border:1px solid #ffcc00;
}
#boot-splash .page-splash-message{
    font-size:x-large;
    font-weight:bold;
    color:#fff;
    text-align:center;
    padding:0;
    margin:16px 0;
}


@keyframes barber-animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 70px 30px;
    }
}
.foax-progress.progress.progress-striped {
    background-size: 40px 40px;
    
    background-image: linear-gradient( 45deg, rgb(255,204,0) 25%, transparent 25%, transparent 50%, rgb(255,204,0) 50%, rgb(255,204,0) 75%, transparent 75%, transparent );
    transition: opacity 0.3s ease;
    animation: barber-animate 0.9s linear infinite;
    
    color:#000;
        
}
.authenticated-user{
    color:#fff;
    margin:16px 8px;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.form-group.has-error{
    background:#ff0000;
    height:100px;
    width:1000px;
}

/*.form-control.ng-valid{
    background:#baff90;
}

.form-control.ng-invalid{
    border-color:#f00;
    background:rgba(255,0,0,0.1);
}

.form-control.ng-pristine{
    border:1px solid #000;
    background:inherit;
}*/

.sidebar .navi > li.active > a{
background:#222;
}

    body a,
    .nav, .pagination, .carousel, .panel-title a {
        cursor: pointer;
    }

.mru-item {
    overflow: hidden;
    width: 100%;
    direction: rtl;
    margin: 0;
    white-space: nowrap;
}

    /*.mru-item > a:before {
        position: absolute;
        left: 0px;
        content: "...";
    }*/

.sidebar.ng-enter {
    transition: 0.75s;
    opacity: 0;
}

.sidebar.ng-enter-stagger {
    transition-delay: 0.1s;
}

.sidebar.ng-enter-active {
    opacity: 1;
}

.sidebar.ng-leave {
    transition: 0.75s;
    opacity: 1;
}

.sidebar.ng-leave-active {
    opacity: 0;
}



.sidebar-filler {
    background: #111;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}


/* Sidebar */

.sidebar {
    width: 230px;
    float: left;
    display: block;
    background: #111;
    color: #eee;
    position: relative;
}

    .sidebar hr {
        border-bottom: 1px solid #333 !important;
    }

    .sidebar ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .sidebar ul li {
            list-style-type: none;
        }

    .sidebar .sidebar-inner {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 60;
        background: #111;
    }

    .sidebar .navi li i {
        margin-right: 5px;
    }

    .sidebar .navi li span i {
        margin: 0;
    }

    .sidebar .navi > li > a {
        display: block;
        padding: 12px 20px;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #222;
        background-color: #111;
    }

        .sidebar .navi > li > a:hover, .sidebar .navi > li.open > a {
            border-bottom: 1px solid #222;
            background-color: #222;
            color: #fff;
        }

    .sidebar .navi li ul {
        display: none;
        background: #181818;
    }

    .sidebar .navi li.open ul {
        display: block;
    }

    .sidebar .navi li ul li a {
        display: block;
        background: none;
        padding: 10px 0;
        padding-left: 30px;
        text-decoration: none;
        color: #999;
        border-bottom: 1px solid #222;
    }

    .sidebar .navi li ul li.active a {
        background: #131313;
        border-bottom: 1px solid #222;
    }

    .sidebar .navi li ul li a:hover {
        background: #131313;
        border-bottom: 1px solid #222;
    }


    /* Sidebar dropdown */

    .sidebar .sidebar-dropdown* {
        text-decoration: none;
    }

    .sidebar .sidebar-dropdown {
        display: none;
    }

        .sidebar .sidebar-dropdown a {
            color: #ddd;
            background-color: #343434;
            padding: 6px;
            text-transform: uppercase;
            text-align: center;
            font-size: 13px;
            display: block;
            border-top: 1px solid #666;
            border-bottom: 1px solid #333;
        }

            .sidebar .sidebar-dropdown a:hover {
                text-decoration: none;
            }

    /* Sidebar widget */

    .sidebar .sidebar-widget {
        padding: 10px 5px;
    }

    .sidebar .ui-datepicker {
        width: 95%;
        margin: 0 auto;
        background: #111;
        color: #888;
        border: 0;
        padding: 0;
    }

    .sidebar .ui-datepicker-header {
        background: #222;
        border: 1px solid #212121;
    }

    .sidebar .ui-datepicker-prev:hover {
        background: transparent;
        border: 0;
        top: 2px !important;
        left: 2px !important;
    }

    .sidebar .ui-datepicker-next:hover {
        background: transparent;
        border: 0;
        top: 2px !important;
        right: 2px !important;
    }

    .sidebar .ui-state-default {
        background: #222;
        border: 0;
        text-align: center;
        color: #ccc;
    }

        .sidebar .ui-state-default:hover {
            background: #282828;
            color: #999;
        }

    .sidebar .ui-state-hightlight, .sidebar .ui-state-active {
        background: #444;
    }

    
    .asset-listing  li>a.asset{
        padding:5px;
        display:block;
        width:100%;
}
.asset-listing li > a.asset:hover {
    background:#eee;
    text-decoration:none;
}


/* Responsive */

@media (max-width: 767px) {
    body {
        margin: 0 auto;
    }

        body .container {
            width: 95%;
            padding-left: 2.5%;
            padding-right: 2.5%;
        }

    .sidebar {
        float: none;
        width: 100%;
    }

        .sidebar .sidebar-dropdown {
            display: block;
        }

        .sidebar .sidebar-inner {
            display: none;
            height: 0;
            transition: height 1s;
        }

            .sidebar .sidebar-inner.active {
                display: block;
                height: auto;
                transition: height 1s;
            }

        .sidebar .sidebar-widget {
            text-align: center;
        }

        .sidebar + section {
            margin: 0;
            float: none;
        }

    .sidebar {
        margin-bottom: 20px;
    }

    .navbar {
        margin-bottom: 0px;
    }
    .asset-listing li > a.asset {
        padding: 10px;
    }
}
    
@media (min-width: 768px) {

    .sidebar {
        width: 200px;
    }

    .sidebar + section {
        margin-left: 200px;
    }
}
.v-fill{
    height:100%;
}




/* view transitions*/
/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
    position: relative;
    height: 65px;
}

[data-ui-view].ng-enter, 
[ui-view].ng-enter
 {
    height:0;
    transition-property:all;
    transition-timing-function:ease-in-out;
    transition-duration:.75s;
    transform:.rotateX('180')
    opacity:0;
}

[data-ui-view].ng-enter-active, 
[ui-view].ng-enter-active
 {
    opacity:1;
}

[data-ui-view].ng-leave ,
[ui-view].ng-leave
{
    transition-property:all;
    transition-timing-function:ease-in-out;
    transition-duration:.75s;
    transform:rotateX('180');
    opacity:1;
}

[data-ui-view].ng-leave-active,
[ui-view].ng-leave-active
{
    height:0;
    opacity:0;
}

@media (max-width: 767px) {



    .sidebar-filler {
        display: none !important;
    }
}
