<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
      <add name="TpContext" providerName="System.Data.SqlClient" 
        connectionString="Server=.\loc;
                          Database=Thesis;
                          User ID=thesis-user;
                          Password=passwordstubbed;
                          Trusted_Connection=False;
                          Encrypt=false;
                          Connection Timeout=30;
                          MultipleActiveResultSets=True;" />
    <!--<add name="TpContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=tcp:rlinneman-thesisportal.database.windows.net,1433;
         Database=ThesisPortal_db;
         User ID=rlinneman-thesisportal-user@rlinneman-thesisportal;
         Password=WhereInTheWorldIsCarmenSandiego4$;
         Trusted_Connection=False;
         Encrypt=True;
         Connection Timeout=30;
         MultipleActiveResultSets=True;"/>-->
  </connectionStrings>

  <entityFramework>

    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>