<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Rel.Data" type="Rel.Data.Configuration.DataConfigurationSection, Rel.Data" allowDefinition="Everywhere" />
  </configSections>
  <Rel.Data>
    <changeSets maxOpenSize="1000" />
  </Rel.Data>
</configuration>